.toolbar a.button {
  /*width: 60px;*/
}

.ui-dialog .ui-widget-content {
  border: 0 !important;
}

#messagetoolbar a.calloadingbut {
  background-image: url('images/loading.gif');
  background-repeat: no-repeat;
  background-position: center 2px;
}

#messagetoolbar a.calreloadbut {
  background-image: url('images/reload.png');
  background-repeat: no-repeat;
  background-position: center 2px;
}

#messagetoolbar a.calneweventbut {
  background-image: url('images/calendar_stripe.png');
  background-repeat: no-repeat;
  background-position: center -208px;
}

#messagetoolbar a.calfitersbut {
  background-image: url('images/calendar_stripe.png');
  background-repeat: no-repeat;
  background-position: center -46px;
}

#messagetoolbar a.calswitchbut {
  background-image: url('images/calendar_stripe.png');
  background-repeat: no-repeat;
  background-position: center -130px;
}

#messagetoolbar a.calexportbut {
  background-image: url('images/calendar_stripe.png');
  background-repeat: no-repeat;
  background-position: center -248px;
}

#messagetoolbar a.calimportbut {
  background-image: url('images/calendar_stripe.png');
  background-repeat: no-repeat;
  background-position: center -287px;
}

#messagetoolbar a.calprintprevbut {
  background-image: url('images/calendar_stripe.png');
  background-repeat: no-repeat;
  background-position: center -328px;
}

.timeline {
  position: absolute;
  left: 59px;
  border: none;
  border-top: 1px solid red;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 999;
}

#taskbar a.button-calendar span.button-inner,
#taskbar a.button-calendar.button-selected span.button-inner {
	background-position: 0 -168px;
}

ul.caltoolbarmenu {
  margin: -4px 0 -4px 0;
  padding: 0;
  list-style: none;
}

ul.caltoolbarmenu li {
  font-size: 11px;
  white-space: nowrap;
  min-width: 130px;
  margin: 2px -4px;
}

ul.caltoolbarmenu li input {
  vertical-align: middle;
}

#recurringdialog{
  position: absolute;
  padding: 10px;10px;10px;10px;
  width: 350px;
  top: 200px;
  margin-left: -175px;
  left: 50%;
  z-index: 5000;
  background-color:#F6F6F6;
}

#calprinttable td, th
{
  border-width: 1px;
  border-style: solid;
}

#calsearchdialog {
  display: none;
  background-color: #FAFAFA;
  color: #333;
  padding: 5px 0 0 0;
  overflow: auto;
  overflow-x: hidden;
}

table.records-table {
  border-collapse: separate;
}

#calsearchset {
  display: none;
  position: absolute;
  top: 100px;
  right: 25px;
  width: 150px;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.95);
  border: 1px solid #999;
  padding: 4px;
  z-index: 50000;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-box-shadow: 1px 1px 12px #999;
  -webkit-box-shadow: #999 1px 1px 12px;
}

.calsearchmatch {
  color: #CC3333;
}

.calsearchmatchselected {
  color: #000;
}

#calsearchdialog .ui-dialog {
  padding: 0;
}

#calsearchdialog table {
  width: 100%;
  overflow: hidden;
}

#calquicksearchbar
{
  position: absolute;
  top: 75px;
  right: 15px;
  width: 182px;
  height: 24px;
  text-align: right;
}

#quicksearchbar input {
	width: 176px;
	margin: 0;
	padding: 5px 26px 2px 38px;
	height: 18px;
	background: #f1f1f1;
	border-color: #a3a3a3;
	font-weight: bold;
}

#calquicksearchbar img
{
  vertical-align: middle;
}

#calsearchfilter
{
  position: absolute;
  top: 5px;
  left: 28px;
  width: 134px;
  height: 15px;
  font-size: 11px;
  padding: 0px;
  border: none;
}

#calsearchmod
{
 position: absolute;
 top: 5px;
 right: 158px;
}

#calsearchreset
{
  position: absolute;
  top: 5px;
  right: 4px;
  text-decoration: none;
}

#mainscreen {
  top: 110px;
}

#calendaroverlay {
  position: absolute;
  top: 68px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 4999;
  background: rgba(0,0,0,0.5) !important;
  background: #F6F6F6;
  
  /** IE hacks */
  filter: alpha(opacity=90);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  width: expression(document.documentElement.clientWidth+'px');
  height: expression(document.documentElement.clientHeight+'px');
}

.boxtitle {
  padding-top: 4px;
  border: 1px solid #aaa;
  height: 17px;
  font-size: 11px;
}

#message.calstatusbar {
	position: absolute;
	bottom: 0px;
	display: block;
	border: 2px solid #AAA;
	height: 25px;
	left: 220px;
	right: 5px;
  padding-left: 8px;
  border-radius: 0 0 4px 4px;
  background: url(images/ui-bg_highlight-soft_90_e4e4e4_1x100.png) 50% 50% repeat-x;
  background: -moz-linear-gradient(top, #EAEAEA 0%, #C8C8C8 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#EAEAEA), color-stop(100%,#C8C8C8));
  background: -o-linear-gradient(top, #EAEAEA 0%, #C8C8C8 100%);
  background: -ms-linear-gradient(top, #EAEAEA 0%, #C8C8C8 100%);
  background: linear-gradient(top, #EAEAEA 0%, #C8C8C8 100%);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#calendar {
  margin: 0 auto;
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  height: 100%;
  overflow: auto;
}

#calendar-container {
  position: absolute;
  top: 5px;
  bottom: 0;
  left: 0;
  right: 0;  
}

#calendar-header {
  position: absolute;
  top: 110px;
  left: 230px;
  right: 16px;
  height: 25px;
  z-index: 1;
}

#calusernamecontent {
  font-size: 11px;
}

#jqdatepicker {
  min-height: 161px;
}

#subscriptiontoggle-content {
  float: left;
  margin-left: -2px;
}

a.subscriptionlink {
  padding: 0 4px 7px 4px;
  border-top: 2px solid #ccc;
  border-right: 2px solid #ccc;
  border-left: 2px solid #ccc;
  border-top-left-radius: 3px;
  -moz-border-top-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  -moz-border-top-right-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  text-decoration: none;
}

a.subscriptionlink-selected {
  color: #666666;
  border-top: 2px solid #c0c0c0;
  border-right: 2px solid #c0c0c0;
  border-left: 2px solid #c0c0c0;
  background-color: #d0d0d0;
  text-decoration: underline;
}

a.subscriptionlink:hover {
  color: #666666;
  border-top: 2px solid #c0c0c0;
  border-right: 2px solid #c0c0c0;
  border-left: 2px solid #c0c0c0;
  background-color: #c0c0c0;
  text-decoration: underline;
}

#subscriptions-table .boxtitle {
  border-top: none;
  border-left: none;
  border-right: none;
}

#subscriptions-table {
  width: 100%;
  max-height: 276px;
  overflow: hidden;
  background: #F9F9F9;
}

#subscription-table-content, #filters-table-content {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 250px;
}

#subscription-table-content div {
  width: 22px;
  height: 20px;
  text-align: center;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-box-shadow: 1px 1px 12px #999;
  -webkit-box-shadow: #999 1px 1px 12px;
}

#filters-table-content div {
  width: 22px;
  height: 20px;
  text-align: center;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-box-shadow: 1px 1px 12px #999;
  -webkit-box-shadow: #999 1px 1px 12px;
}

#upcoming-maincontainer {
  cursor: auto;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #e4e4e4;
}

#upcoming {
  position: absolute;
  width: 210px;
  top: 500px;
  bottom: 0;
  left: 0;
}

.fc-view-basicDay {
  overflow-y: auto;
  overflow-x: hidden;
}

#sectionslist {
  width: 210px;
}

#prefs-box {
  left: 220px;
  right: 5px;
  bottom: 27px;
  background: #AAA;
}

#event li {
  font-size: 12px;
}

#rrules span {
  font-size: 11px;
}

#rrules td {
  font-size: 11px;
}

#rrules a:visited {
  /*color: #555554;*/
}

#icsuploadform {
  text-align: center;
  margin: 0 auto;
  margin-top: 60px;
}

#agendalist {
  width: 700px;
}

#print {
  width: 700px;
}

.print {
  margin: 1px;
}

pre {
 font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
}

#messagetoolbar {
  top: 69px;
  left: 230px;
}

#toolbar {
  position: absolute;
  top: 10px;
  right: 20px;
}

#todaybutton{
  position: absolute;
  top: 80px;
  left: 10px;
  width: 213px;
}

#event,
#calswitch {
  display: none;
}

#datepicker-title,
#weeknumber {
  font-weight: bold;
}

.fc-state-highlight {
  background: #fff;
}

.fc-event-skin {
  font-size: 9px;
}

.ui-state-highlight {
  background: #ffc;
  border-color: #ffc;
  color: #000;
  border: 1px solid #ccc;
}

.ui-accordion .ui-accordion-header .ui-icon {
  left: -.4em;
}

.ui-widget-header,
.ui-widget-content {
  font-weight: normal;
  border: 1px solid #AAA;
}

.fc-event-title {
  font-size: 9px;
}

.fc-event-description {
  font-size: 9px;
}

.fc-event-location {
  font-size: 9px;
}

.fc-event-categories {
  font-size: 9px;
  font-style: italic; 
}

.fc-grid .fc-event-time {
  font-weight: normal;
}