#message.calstatusbar {
	position: absolute;
	bottom: 0px;
	display: block;
	border: 2px solid #AAA;
	height: 25px;
	left: 220px;
	right: 5px;
  padding-left: 8px;
  border-radius: 0 0 4px 4px;
  background: url(images/ui-bg_highlight-soft_90_e4e4e4_1x100.png) 50% 50% repeat-x;
  background: -moz-linear-gradient(top, #EAEAEA 0%, #C8C8C8 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#EAEAEA), color-stop(100%,#C8C8C8));
  background: -o-linear-gradient(top, #EAEAEA 0%, #C8C8C8 100%);
  background: -ms-linear-gradient(top, #EAEAEA 0%, #C8C8C8 100%);
  background: linear-gradient(top, #EAEAEA 0%, #C8C8C8 100%);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#taskbar a.button-calendar {
	height: 22px;
	background-color: #fff;
	border: 2px solid #ACE;
	border-bottom: none;
	margin-top: 0;
}

.timeline {
  position: absolute;
  left: 59px;
  border: none;
  border-top: 1px solid red;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 999;
}

ul.caltoolbarmenu {
  margin: -4px 0 -4px 0;
  padding: 0;
  list-style: none;
}

ul.caltoolbarmenu li {
  font-size: 11px;
  white-space: nowrap;
  min-width: 130px;
  margin: 2px -4px;
}

ul.caltoolbarmenu li input {
  vertical-align: middle;
}

#recurringdialog{
  position: absolute;
  padding: 10px;10px;10px;10px;
  width: 350px;
  top: 200px;
  margin-left: -175px;
  left: 50%;
  z-index: 5000;
  background-color:#F6F6F6;
}

#calprinttable td, th
{
  border-width: 1px;
  border-style: solid;
}

#calsearchdialog {
  display: none;
  background-color: #FAFAFA;
  color: #333;
  padding: 5px 0 0 0;
  overflow: auto;
  overflow-x: hidden;
}

#calsearchset {
  display: none;
  position: absolute;
  top: 100px;
  right: 35px;
  width: 150px;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.95);
  border: 1px solid #999;
  padding: 4px;
  z-index: 50000;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-box-shadow: 1px 1px 12px #999;
  -webkit-box-shadow: #999 1px 1px 12px;
}

.calsearchmatch {
  color: #CC3333;
}

.calsearchmatchselected {
  color: #000;
}

#calsearchdialog .ui-dialog {
  padding: 0;
}

#calsearchdialog table {
  width: 100%;
  overflow: hidden;
}

#calquicksearchbar
{
  position: absolute;
  top: 54px;
  right: 16px;
  width: 182px;
  height: 24px;
  text-align: right;
  border: 1px solid #e4e4ec;
  border-top: 1px solid #aaadb2;
}

#calquicksearchbar img
{
  vertical-align: middle;
}

#calsearchfilter
{
  position: absolute;
  top: 5px;
  left: 28px;
  width: 134px;
  height: 15px;
  font-size: 11px;
  padding: 0px;
  border: none;
}

#calsearchmod
{
 position: absolute;
 top: 5px;
 right: 158px;
}

#calsearchreset
{
  position: absolute;
  top: 5px;
  right: 4px;
  text-decoration: none;
}

#mainscreen {
  top: 82px !important;
}

#calendaroverlay {
  position: absolute;
  top: 82px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 4999;
  background: rgba(0,0,0,0.5) !important;
  background: #F6F6F6;
  
  /** IE hacks */
  filter: alpha(opacity=90);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  width: expression(document.documentElement.clientWidth+'px');
  height: expression(document.documentElement.clientHeight+'px');
}

.boxtitle {
  padding-top: 4px;
  border: 1px solid #aaa;
  height: 17px;
  font-size: 11px;
}


#calendar {
  margin: 0 auto;
  position: absolute;
  top: 20px;
  /*bottom: 25px;*/
  left: 0px;
  right: 0px;
  overflow: auto;
}

#calendar-container {
  position: absolute;
  top: 5px;
  bottom: 0;
  left: 0;
  right: 0;  
}

#calendar-header {
  position: absolute;
  top: 82px;
  left: 230px;
  right: 16px;
  height: 25px;
  z-index: 1;
  border-radius: 0 0 4px 4px;
  background: url(images/ui-bg_highlight-soft_90_e4e4e4_1x100.png) 50% 50% repeat-x;
  background: -moz-linear-gradient(top, #EAEAEA 0%, #C8C8C8 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#EAEAEA), color-stop(100%,#C8C8C8));
  background: -o-linear-gradient(top, #EAEAEA 0%, #C8C8C8 100%);
  background: -ms-linear-gradient(top, #EAEAEA 0%, #C8C8C8 100%);
  background: linear-gradient(top, #EAEAEA 0%, #C8C8C8 100%);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#calusernamecontent {
  font-size: 11px;
}

#upcoming {
  margin: 0 auto;
}

#upcoming-maincontainer {
  cursor: auto;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#sectionslist {
  width: 210px;
  overflow: hidden;
}

#prefs-box {
  left: 220px;
  right: 5px;
  bottom: 27px;
  background: #AAA;
}

#event li {
  font-size: 12px;
}

#rrules span {
  font-size: 11px;
}

#rrules td {
  font-size: 11px;
}

#rrules a:visited {
  /*color: #555554;*/
}

#icsuploadform {
  text-align: center;
  margin: 0 auto;
  margin-top: 60px;
}

#agendalist {
  width: 700px;
}

#print {
  width: 700px;
}

.print {
  margin: 1px;
}

pre {
 font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
}

#messagetoolbar {
  top: 59px !important;
  left: 231px !important;
}

#toolbar {
  position: absolute;
  top: 10px;
  right: 20px;
}

#todaybutton{
  position: absolute;
  top: 60px;
  left: 10px;
  width: 213px;
}

#todaybutton .button {
color: #2c7dcf;
padding: 2px 2px;
background: #f4fbff;
border: 1px solid #aaccee;
font-size: 11px;
}

#event,
#calswitch,
#calfilter {
  display: none;
}

.fc-state-highlight {
  background: #fff;
}

.fc-event-skin {
  font-size: 9px;
}

.ui-state-highlight {
  background: #ffc;
  border-color: #ffc;
  color: #000;
  border: 1px solid #ccc;
}

.ui-widget-header,
.ui-widget-content {
  font-weight: normal;
  border: 1px solid #a6c9e2 !important;
}

.ui-widget-content {
  border-top-style: dotted !important;
  border-right-style: dotted !important;
  border-bottom-style: none !important;
  border-left-style: none !important;
}

.fc-event-title {
  font-size: 9px;
}

.fc-event-description {
  font-size: 9px;
}

.fc-event-location {
  font-size: 9px;
}

.fc-event-categories {
  font-size: 9px;
  font-style: italic; 
}

.fc-grid .fc-event-time {
  font-weight: normal;
}