#remindersoverlay {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 4999;
  background: rgba(0,0,0,0.5) !important;
  background: #F6F6F6;
  
  /** IE hacks */
  filter: alpha(opacity=90);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  width: expression(document.documentElement.clientWidth+'px');
  height: expression(document.documentElement.clientHeight+'px');
}

#remindersoverlaysmall {
  display: none;
  text-align: center;
  overflow: hidden;
  position: absolute;
  bottom: 10px;
  width: 150px;
  height: 25px;
  left: 50%;
  margin-left: -75px;
  z-index: 5000;
  opacity: 0.85;
}

#remindersloading {
  display: none;
  padding-top: 5px;
  text-align: center;
  overflow: hidden;
  position: absolute;
  bottom: 11px;
  width: 250px;
  height: 18px;
  left: 50%;
  margin-left: -125px;
  z-index: 5001;
  opacity: 0.85;
  background: url(images/loadingsmall.gif) 6px 3px no-repeat;
  background-color: #EBEBEB;
  border: 1px solid #CCCCCC;
}

div.remindersconfirmation {
  background-color: #A6EF7B;
  border: 1px solid #76C83F;
}

div.remindersnotice {
  background-color: #F7FDCB;
  border: 1px solid #C2D071;
}

div.reminderswarning {
  background-color: #EF9398;
  border: 1px solid #DC5757;
}

.smallreminders {
  font-size: 11px;
}

#reminderscontent {
  overflow: hidden;
  width: 500px;
  background-color: #F7FDCB;
  border: 1px solid #C2D071;
  max-height: 300px;
  left: 50%;
  margin-left: -250px;
  position: absolute;
  top: 100px;
  z-index: 5000;
  opacity: 0.85;
}

#reminderlist {
  border: 1px solid #C2D071;
  margin: 20px;
  height: 205px;
  overflow: auto;
}

#reminderlist .started {
  color: #FF6600;
}

#reminderlist .terminated {
  color: #CC3333;
}