.qtip{
  max-width: none;
}

#paypal{
  position: absolute;
  top: 10px;
  left: 10px;
}

.asterix
{
  display: inline;
  float: left;
  margin-left: 5px;
}

.plugin_manager_ul
{
  list-style: none;
  margin-top: 0px;
}

.plugin_manager_ul li
{
  padding-left: 0px;
  margin-left:-40px;
}

.plugin_manager_ul input[type="checkbox"]
{
  margin-left: 0;
  vertical-align: bottom;
}

.pm_control input[type="checkbox"]
{
  vertical-align: bottom;
}

.title
{
  color: #2c84e1;
  padding-right: 10px;
}

.pm_section
{
  float: left;
}

.pm_update
{
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 15px;
}

table.propform td.title {
  width: 1px;
}

table.propform td {
  width: 98%;
}

#prefs-title-right
{
  color: #1f75cc;
  font-size: 20px;
  float: right;
  margin-top: 7px;
  margin-right: 25px;
  display: inline;
}

#table
{
  table-layout:fixed;
  width: 100%;
}

#table tbody tr td
{
  height: 20px;
  padding: 5px;
  font-size: 13px;
  overflow: hidden;
  vertical-align: middle;
  word-wrap: break-word;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  border: 1px solid #EBEBEB;
  cursor: default;
}

#table thead tr th
{
  height: 20px;
  padding: 5px;
  font-size: 13px;
  overflow: hidden;
  vertical-align: middle;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  border: 2px solid #EBEBEB;
  cursor: default;
}

#rcheader
{
  font-size: 13px;
}

.vmismatch
{
  background-color: #EF9398;
  border-radius: 5px 5px;
  box-shadow: 0pt 1px 3px rgba(0, 0, 0, 0.1);
}

.vmatch
{
  background-color: #A6EF7B;
  border-radius: 5px 5px;
  box-shadow: 0pt 1px 3px rgba(0, 0, 0, 0.1);
}

.vupdate
{
  background-color: #EF9398;
  border-radius: 5px 5px;
  box-shadow: 0pt 1px 3px rgba(0, 0, 0, 0.1);
}

.rcok
{
  background: url(traffic-light-off.png) no-repeat;
}

.rcupdate
{
  background: url(traffic-light-exclamation.png) no-repeat;
}

.rcerror
{
  background: url(traffic-light-exclamation.png) no-repeat;
}

#table .ok
{
  background: url(traffic-light-off.png) center no-repeat;
}

#table .error
{
  background: url(traffic-light-exclamation.png) center no-repeat;
}

#table .update
{
  background: url(traffic-light-plus.png) center no-repeat;
}

#table .edit
{
  background: url(traffic-light-pencil.png) center no-repeat;
}

#table .off
{
  background: url(traffic-light-off.png) center no-repeat;
}