#carddavoverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 4999;
  background-color: rgba(0,0,0,0.5) !important;
  background-image: url(loading.gif);
  background-repeat: no-repeat;
  background-position: center;
  display: none;
  /** IE hacks */
  filter: alpha(opacity=90);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  width: expression(document.documentElement.clientWidth+'px');
  height: expression(document.documentElement.clientHeight+'px');
}

.listing li a.syncwarning {
  color: #cf2734;
}

a.deletebutton {
  position: relative;
  left: 5px;
  top: -3px;
  display: inline-block;
  width: 24px;
  height: 18px;
  text-decoration: none;
  text-indent: -5000px;
  background: url(buttons.png) -7px -377px no-repeat;
}

a.addbutton {
  position: relative;
  left: 5px;
  top: -3px;
  display: inline-block;
  width: 24px;
  height: 18px;
  text-decoration: none;
  text-indent: -5000px;
  background: url(buttons.png) -7px -355px no-repeat;
}

#addressbooktoolbar a.carddavsync {
  background-image: url('sync.png');
  background-repeat: no-repeat;
  background-position: center 7px;
}

#addressbooktoolbar a.carddavloading {
  background-image: url('loading.gif');
  background-repeat: no-repeat;
  background-position: center 7px;
}

.carddav .button {
	border-radius: 5px;
	border: 1px solid #aaa;
	text-shadow: 1px 1px 0px #fff;
	cursor: pointer;
}

.carddav .carddav_container {
	background: #eaeaea;
	border-radius: 5px;
}

.carddav .carddav_server_list {
	width: 100%;
	border-collapse: collapse;
	text-shadow: 1px 1px 0px #fff;
}

.carddav_server_list thead td {
	font-weight: bold;
	font-size: 12px;
	padding: 10px;
	background-color: #e5e5e5;
	border-bottom: 1px solid #eee;
}

.carddav_server_list thead td:first-child {
	border-top-left-radius: 5px;
}

.carddav_server_list thead td:last-child {
	border-top-right-radius: 5px;
}

.carddav_server_list tbody tr:hover {
	background-color: #def;
}

.carddav_server_list tbody tr:hover td {
	border-radius: 5px;
}

.carddav_server_list tbody td {
	padding: 0 10px 0 0;
	height: 45px;
}

.carddav .carddav_headline.example_server_list {
	margin-top: 30px;
	font-size: 100%;
}