#taskbar a.button-calendar {
/*padding: 6px 12px 6px 26px;*/
  background: url(images/calendar.png) 6px 7px no-repeat;
  background-color: #F4FBFF;
}

#taskbar a.button-calendar:hover {
  background-color: #FFFFFF;
}

input.protected_category {
  background-color: #B9C4F2;
}

#caltoday,
#calback,
#calforward {
  cursor: auto;
}

#caltoday a:link {
  text-decoration:none;
}

#caltoday a:visited {
  text-decoration:none;
}

#calback a:link {
  text-decoration:none;
}

#calback a:visited {
  text-decoration:none;
}

#calforward a:link {
  text-decoration:none;
}

#calforward a:visited {
  text-decoration:none;
}

#upcoming-content {
  position: absolute;
  bottom: 44px;
  left: 20px;
  /*border: 1px solid #AFCFEF;*/
  background-color: #E9F4FF;
  cursor: auto;
}

#upcoming-content .boxtitle {
  height: 15px !important;
}

#upcoming-container {
  position: absolute;
  top: 19px;
  bottom: 0px;
  left: 0px;
  overflow: auto;
  overflow-y: auto;
  overflow-x: hidden;
}

#upcoming {
  margin: 0 auto;
  /*border: solid 1px #AFCFEF;*/
}

#upcoming_1 {
  margin: 0 auto;
  /*border: solid 1px #AFCFEF;*/
}

#upcoming_2 {
  margin: 0 auto;
  /*border: solid 1px #AFCFEF;*/
}

#upcoming_preview pre {
  font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
}
